* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 24px;
  line-height: 1.5;
}

.content h1 {
  font-size: 3.2rem;
}

.content p {
  margin: 16px 0;
  font-size: 1.8rem;
}

.content img {
  max-width: 100%;
}

/* Modal */

.modal, .modal .overlay {
    position: fixed;
    inset: 0;
    display: flex;
}

.modal .overlay {
    background: rgba(0, 0, 0, 0.4);
}

.modal .content {
    margin: auto;
    position: relative;
    /* background-color: orange; */
    width: 450px;
    z-index: 1;
}

.modal .content img {
    width: 100%;
}

.modal .button {
    position: absolute;
    top: 2;
    right: 0;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    color: #666;
    background: #ebebeb;
    cursor: pointer;
}

.modal .button i {
    font-size: 24px;
    margin: auto;
}