* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.menu {
    height: 100%;
    position: relative;
    background: #fff;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

.menu-item {
    display: inline-block;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
    background: #ddd;
    padding: 20px;
    display: none;
}

/* .sub-menu img {
    position: absolute;
    width: 100%;
    left: -5px;
} */