body {
  display: flex;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #333;
}

ul {
  list-style-type: none; /* bỏ dấu chấm */
  padding: 0;  /* bỏ khoảng cách thụt vào */
  margin: 0;
}

.menu {
  position: fixed;
  inset: 0;
}

.main {
  margin-top: 50px;
}

.menu > li {
  display: inline-block;
  margin: 0px 80px;
  padding: 5px 10px 30px 10px;
  
}

.menu li {
  position: relative;
}

.menu li:hover > .sub-menu{
  display: block;
}

.menu a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 150px;
}

.sub-menu {
  position: absolute;
  width: 150px;
  top: 50px;
  left: -5px;
  background-color: #fff;
  display: none;
}

.sub-menu .sub-menu {
  left: 100%;
  top: 0;
  display: none;
}

.sub-menu li:hover {
  background: rgb(199, 157, 199);
}

.sub-menu a {
  display: inline-block;
  padding: 8px 0px 8px 0px;
  text-align: center;
  color: #333;
}

